@import model.UserAssignment
@(userForm: Form[UserAssignment])(implicit request: RequestHeader, messages: MessagesProvider, flash: Flash)
@import helper._
@main("Welcome User") {
@helper.form(action = routes.AdminController.addAssignment) {
@flash.get("success")
@CSRF.formField
@helper.inputText(userForm("title"), '_label -> "Title", '_showConstraints -> false)
@helper.inputText(userForm("description"), '_label -> "Description", '_showConstraints -> false)
<input type="submit" value="Add"/><br/>

}
}