@()(implicit request: RequestHeader, messages: MessagesProvider, flash: Flash)

@main("Admin Page") {

<html>
@flash.get("success").getOrElse("")
<form action="@routes.SignUpController.signUp">
    <input type="submit" value="Profile" />
</form>

<form action="@routes.SignInController.signIn">
    <input type="submit" value="View Assignments" />
</form>

<form action="@routes.SignInController.signIn">
    <input type="submit" value="View Users" />
</form>

<form action="@routes.SignInController.signIn">
    <input type="submit" value="Add Assignments" />
</form>

<form action="@routes.HomeController.index">
    <input type="submit" value="Log Out" />
</form>



</html>

}