@import model.ForgotPassword

@(userForm: Form[ForgotPassword])(implicit request: RequestHeader, messages: MessagesProvider)

@import helper._

@main("Reset Password") {

@helper.form(action = routes.ProfileController.resetPassword) {
@CSRF.formField
@helper.inputText(userForm("email"), '_label -> "Email")
@helper.inputText(userForm("newPassword"), '_label -> "New Password")
@helper.inputText(userForm("confirmPassword"), '_label -> "Confirm Password")
<input type="submit" value="Submit"/><br/>

}

}