@import model.ForgotPassword

@(userForm: Form[ForgotPassword])(implicit request: RequestHeader, messages: MessagesProvider, flash: Flash)

@import helper._

@main("Reset Password") {
@if(userForm.hasGlobalErrors) {
<u1>
    @for(error<-userForm.globalErrors) {
    <li> @Messages(error.messages,error.args)</li>
    }
</u1>
}
@helper.form(action = routes.SignInController.changePassword) {
@flash.get("success")
@CSRF.formField
@helper.inputText(userForm("email"), '_label -> "Email", '_showConstraints -> false)
@helper.inputText(userForm("newPassword"), '_label -> "New Password", '_showConstraints -> false)
@helper.inputText(userForm("confirmPassword"), '_label -> "Confirm Password", '_showConstraints -> false)
<input type="submit" value="Submit"/><br/>

}

}