@import model.UserSignUp

@(userForm: Form[UserSignUp])(implicit request: RequestHeader, messages: MessagesProvider, flash: Flash)

@import helper._

@main("Sign Up") {

@if(userForm.hasGlobalErrors) {
<u1>
    @for(error<-userForm.globalErrors) {
    <li> @Messages(error.messages,error.args)</li>
    }
</u1>
}
<h2>Normal User Registration Form</h2>
@helper.form(action = routes.SignUpController.userPost()) {
@flash.get("failure")
@CSRF.formField
@helper.inputText(userForm("fname"), '_label -> "First Name", '_showConstraints -> false)
@helper.inputText(userForm("mname"), '_label -> "Middle Name")
@helper.inputText(userForm("lname"), '_label -> "Last Name", '_showConstraints -> false)
@helper.inputText(userForm("email"), '_label -> "Email", '_showConstraints -> false)
@helper.inputText(userForm("password"), '_label -> "Password", '_showConstraints -> false)
@helper.inputText(userForm("confirmPwd"), '_label -> "Confirm Password", '_showConstraints -> false)
@helper.inputText(userForm("mobile"), '_label -> "Mobile", '_showConstraints -> false)
@helper.select(userForm("gender"),Seq("female" -> "Female", "male" -> "Male"), '_label ->"Gender")
@helper.inputText(userForm("age"), '_label -> "Age", '_showConstraints -> false)
@helper.inputText(userForm("hobbies"), '_label -> "Hobbies")

<button type="Submit">SignUp</button>
}
}
